<li>
 <%= flat_list_element.photos %>
 <%= flat_list_element.num_rooms %>
 <%= flat_list_element.num_baths %>
 <%= flat_list_element.pet %>

 <%= link_to('Delete', flat_path(flat_list_element.id), method: :delete, data: { confirm: 'Are you sure' }) %>
</li>