<div class= "bg_color padd_20">

	<%= form_for [@user, @flat] do |f| %>
		<%= f.hidden_field :user_id, :value => @user.id %>

		<%= f.label :flat_photo %> (optinal)
		<%= f.file_field :flat_photo, class: "form-control" %>
		<br />
		<%= f.label :num_rooms %>
		<%= f.number_field :num_rooms, placeholder: 'Write number of rooms', class: "form-control", in: 1..6, step:1  %>
		<br />
		<%= f.label :num_baths %>
		<%= f.number_field :num_baths, placeholder: 'Write number of baths', class: "form-control", in: 1..6, step:1  %>
		<br />
		<%= f.label :pet %>
		<br/>
		<%= f.radio_button(:pet, 'true') %>  Accepted!
		<%= f.radio_button(:pet, 'false') %>  Not accepted!
		<br/>
		<br/>
		<%= f.label :area %>
		<%= f.select :area, ['Eixample', 'Sants', 'Poble Nou', 'Gràcia', 'Raval', 'Gotic', 'Sarria', 'Barceloneta'], {}, {:class => 'form-control mtop'}%>
		<br/>
		<%= f.submit 'SAVE', class: "btn btn_form btn-lg btn-block" %>
	<% end %>
</div>