<h1>
	Flat information
</h1>

<ul>
	<li>Flat photo: <%= image_tag @flat.flat_photo.url(:large), class: "" %></li>
	<li>Flats number: <strong><%= @flat.num_flats %></strong> </li>
	<li>Flats number: <strong><%= @flat.num_baths %></strong> </li>
	<li>Pets: <strong><%= @flat.pet %></strong> </li>
	<li>Address: <strong><%= @flat.address %></strong> </li>
</ul>

<%= link_to 'edit flat', edit_flat_path(@flat.id), class: "btn btn-success" %>
<%= link_to 'flat list', flats_path, class: "btn btn-success" %>
<%= button_to 'delete flat', @flat, method: :delete, class: "btn btn-danger" %>