<h2 class= "col-md-3 col-md-offset-5 bg_new_color arrow arrow-s desc">
	Flat information
</h2>

<div class=" col-md-3 col-md-offset-5 bg_color contenido">
	<ul>

		<li>Rooms number: <strong><%= @flat.num_rooms %></strong> </li>
		<li>Baths number: <strong><%= @flat.num_baths %></strong> </li>
		<li>Pets: <strong><%= @flat.pet %></strong> </li>
		<li>Address: <strong><%= @flat.address %></strong> </li>
	</ul>

	<%= link_to 'edit flat', edit_flat_path(@flat.id), class: "btn btn-success" %>
	<%= link_to 'delete flat', @flat, method: :delete, class: "btn btn-danger" %>
	<%= link_to 'create a ROOM', new_room_path, class: "links butt scroll vcenter" %>
	</br>
	</br>
</div>