<h1>
	User information
</h1>

<ul> <%= @user.photo %>
	<li>Name: <strong><%= @user.name %></strong> </li>
	<li>Email: <strong><%= @user.email %></strong> </li>
	<li>Phone: <strong><%= @user.phone %></strong> </li>
</ul>

<%= link_to 'edit user', edit_user_path(@user.id), class: "btn btn-success" %>
<%= link_to 'user list', users_path, class: "btn btn-success" %>
<%= link_to 'delete user', @user, method: :delete, class: "btn btn-danger" %>
