<div class= "col-md-3 col-md-offset-5 bg_color">
	<%= form_for [@user, @flat, @room] do |f| %>
		<%= f.hidden_field :flat_id, :value => @flat.id %>

		<%= f.label :room_photo %> (optinal)
		<%= f.file_field :room_photo%>
		<br />
		<%= f.label :price %>
		<%= f.number_field :price, class: "form-control mb",  step: 10 %>

		<%= f.submit 'SAVE', class: "btn btn_form btn-lg btn-block mb" %>
	<% end %>
</div>