<div class= "col-md-3 col-md-offset-5 bg_color">
	<%= form_for [@user, @flat, @room] do |f| %>
		<%= f.hidden_field :flat_id, :value => @flat.id %>

		<%= f.label :room_photo %> (optinal)
		<%= f.file_field :room_photo%>
		<br />
		<%= f.label :price %>
		<%= f.number_field :price, class: "form-control",  step: 10 %>
		<br/>
		<br/>
		<%= f.submit 'create room', class: "btn btn-lg btn-block" %>
		<br/>
		<br/>
	<% end %>
</div>