<div class= "col-centered relative">
  <h2 class= "bg_new_color row arrow arrow-s desc">Rooms list</h2>
  <% if @flat.num_rooms > @flat.rooms.count %>
    <%= link_to '+ ADD', new_user_flat_room_path(@user_id, @flat.id), class: "btn absolute bg_create" %>
  <% end %>
  <div class= "bg_color padding-top10 row">
    <ul class="padding0">
      <% @rooms.each do |room| %>
        <li class= "col-md-6 width each_room margin20 padding0">
        <% if room.room_photo%>
          <%= image_tag room.room_photo.url(:large), class: "room_img"%>
        <% end %>
        </br>
        <p class="margin_left10">
          Price: <strong><%= room.price %> €</strong>
        </p>

        <%= link_to 'EDIT ROOM', edit_user_flat_room_path(@user_id, @flat.id, room.id), class: "btn btn_form mb_10 padding_sides margin_left10"%>
        <%= link_to 'DELETE ROOM', user_flat_room_path(@user_id, @flat.id, room.id), method: :delete, class: "btn btn_form mb_10 padding_sides", data: { confirm: 'Are you sure' } %>
        <%= link_to 'SHOW MATCH', match_show_path, class: "btn btn_form mb_10 margin_left10 width280"%>
        </li>
      <% end %>
    </ul>
  </div>
</div>